<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="main">
    <div class="sidebar">
        <div class="chat-title">
          <span id="chat-name">CHAT</span>
          <% if (isLoggedIn) { %> 
          <span id="user-name" class="online">...</span>
          <% } %>
        </div>
        <% if (isLoggedIn) { %> 
        <div class="sidebar-list channel-list">
          <a class="sidebar-header" href="#" data-toggle="modal" data-target="#joinChannelModal">Channels</a>
          <a class="sidebar-btn" href="#" data-toggle="modal" data-target="#addChannelModal">+</a>
          <ul id="room-list">
          </ul>
        </div>
  
        <div class="sidebar-list user-list">
          <span class="sidebar-header">Users</span>
          <ul id="user-list">
          </ul>
        </div>

        <form action="/?_method=DELETE" method="POST">
            <button type="submit" style="float: Right;" class="btn btn-outline-danger btn-sm" data-toggle="" data-target="">Logout</button>
        </form>
        <% } %>
      </div>
     
      <%- body %> 
    </div>

</body>
</html>