    <div class="channel-content">

      <div class="channel-header">
        <a href="#" style="float: Right;margin-left: 1em;" class="roomAction btn btn-outline-primary btn-sm"
          data-toggle="modal" data-target="#addUserModal">Add user</a>
        <a href="#" style="float: Right;" class="roomAction btn btn-outline-danger btn-sm"
          onclick="leaveChannel();">Leave channel</a>

        <span id="channel-name">...</span>
        <span id="channel-description">...</span>

      </div>

      <div class="channel-messages messages">
      </div>

      <div class="input-area">
        <textarea id="input-message" class="inputMessage" placeholder="Type here..."></textarea>
      </div>

    </div>

    <div class="modal fade" id="joinChannelModal" tabindex="-1" role="dialog" aria-labelledby="joinchannellbl"
      aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="joinchannellbl">Join a channel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="list-group" id="channelJoins">

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="addChannelModal" tabindex="-1" role="dialog" aria-labelledby="addchannellbl"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addchannellbl">Create a new channel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="channel-name" class="col-form-label">Channel name:</label>
                <input type="text" class="form-control" id="inp-channel-name">
              </div>
              <div class="form-group">
                <label for="channel-description" class="col-form-label">Channel description:</label>
                <textarea class="form-control" id="inp-channel-description"></textarea>
              </div>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="private" id="inp-public" autocomplete="off" checked> Public
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="private" id="inp-private" autocomplete="off"> Private
                </label>
              </div>
              <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitches" name="e2e"> 
                  <label class="custom-control-label" for="customSwitches"> e2e </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addChannel();">Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="adduserlbl"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="adduserlbl">Add a user to the channel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="list-group" id="usersToAdd">

            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>

      var cryptoKeys = {};

      async function makeKeysAndSave(username) {
        var keys = await makeKeys()
        callOnStore(function (store) {
          store.put({
            id: username,
            keys: keys
          });
        })
      }

      function loadKey(username, fn) {
        callOnStore(function (store) {
          var keyRequest = store.get(username);
          keyRequest.onsuccess = async function () {
            if(keyRequest.result){
            var keys = keyRequest.result.keys;
            return fn(keys)
          } else {
            makeKeysAndSave(username)
            loadKey(username, fn)
          }
          };
        })
      }

      function callOnStore(fn_) {

        // This works on all devices/browsers, and uses IndexedDBShim as a final fallback 
        var indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB ||
          window.shimIndexedDB;

        // Open the database
        var request = indexedDB.open("Chat", 1);

        request.onupgradeneeded = function () {
          var db = request.result;
          var store = db.createObjectStore("keys", {
            keyPath: "id"
          });
        };


        request.onsuccess = function () {
          var db = request.result;
          var tx = db.transaction("keys", "readwrite");
          var store = tx.objectStore("keys");

          fn_(store)


          // Close the db when the transaction is done
          tx.oncomplete = function () {
            db.close();
          };
        }
      }

      function makeKeys() {
        return window.crypto.subtle.generateKey({
            name: "RSA-OAEP",
            modulusLength: 2048,
            publicExponent: new Uint8Array([0x01, 0x00, 0x01]),
            hash: {
              name: "SHA-256"
            },
          },
         true,
          ["encrypt", "decrypt"] 
        )
      }

      function derivekey(password){
        const en = new TextEncoder("utf-8")
        password = en.encode(password)
        return window.crypto.subtle.importKey("raw", password, {"name": "PBKDF2"}, false,["deriveKey"]).then((key) =>{
         return window.crypto.subtle.deriveKey( 
           {
                    "name": "PBKDF2",
                    "salt": en.encode("SUPER NOT SECRET SALT"),
                    "iterations": 1000,
                    "hash": 'SHA-256'
                },
                key,
                {"name": "AES-CBC", "length": 128}, 
                true,                               
                ["encrypt", "decrypt"]              
                );
       })
      }

      function encrypt(data, key, type, iv=null) {
        return window.crypto.subtle.encrypt({
            name: type,
            iv: iv
          },
          key, 
          data 
        )
      }


      async function decrypt(data, key, type, iv=null) {
        return window.crypto.subtle.decrypt({
            name: type,
            iv: iv
          },
          key,
          data
        );
      }

      function exportKey(key, type="jwk") {
        return window.crypto.subtle.exportKey(type, key);
      }

      function importKey(key, type="jwk", keytype="RSA-OAEP") {
        return window.crypto.subtle.importKey(type, key, {name: keytype, hash: "SHA-256"}, key.ext, key.key_ops);
      }

      function importPrivateKey(key, type="jwk", keytype="RSA-OAEP") {
        return window.crypto.subtle.importKey(type, key, {name: keytype, hash: "SHA-256"}, true, ["decrypt"]);
      }

      var Base64 = {
        _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",
        encode: function (e) {
          var t = "";
          var n, r, i, s, o, u, a;
          var f = 0;
          e = Base64._utf8_encode(e);
          while (f < e.length) {
            n = e.charCodeAt(f++);
            r = e.charCodeAt(f++);
            i = e.charCodeAt(f++);
            s = n >> 2;
            o = (n & 3) << 4 | r >> 4;
            u = (r & 15) << 2 | i >> 6;
            a = i & 63;
            if (isNaN(r)) {
              u = a = 64
            } else if (isNaN(i)) {
              a = 64
            }
            t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(
              a)
          }
          return t
        },
        decode: function (e) {
          var t = "";
          var n, r, i;
          var s, o, u, a;
          var f = 0;
          e = e.replace(/[^A-Za-z0-9\+\/\=]/g, "");
          while (f < e.length) {
            s = this._keyStr.indexOf(e.charAt(f++));
            o = this._keyStr.indexOf(e.charAt(f++));
            u = this._keyStr.indexOf(e.charAt(f++));
            a = this._keyStr.indexOf(e.charAt(f++));
            n = s << 2 | o >> 4;
            r = (o & 15) << 4 | u >> 2;
            i = (u & 3) << 6 | a;
            t = t + String.fromCharCode(n);
            if (u != 64) {
              t = t + String.fromCharCode(r)
            }
            if (a != 64) {
              t = t + String.fromCharCode(i)
            }
          }
          t = Base64._utf8_decode(t);
          return t
        },
        _utf8_encode: function (e) {
          e = e.replace(/\r\n/g, "\n");
          var t = "";
          for (var n = 0; n < e.length; n++) {
            var r = e.charCodeAt(n);
            if (r < 128) {
              t += String.fromCharCode(r)
            } else if (r > 127 && r < 2048) {
              t += String.fromCharCode(r >> 6 | 192);
              t += String.fromCharCode(r & 63 | 128)
            } else {
              t += String.fromCharCode(r >> 12 | 224);
              t += String.fromCharCode(r >> 6 & 63 | 128);
              t += String.fromCharCode(r & 63 | 128)
            }
          }
          return t
        },
        _utf8_decode: function (e) {
          var t = "";
          var n = 0;
          var r = c1 = c2 = 0;
          while (n < e.length) {
            r = e.charCodeAt(n);
            if (r < 128) {
              t += String.fromCharCode(r);
              n++
            } else if (r > 191 && r < 224) {
              c2 = e.charCodeAt(n + 1);
              t += String.fromCharCode((r & 31) << 6 | c2 & 63);
              n += 2
            } else {
              c2 = e.charCodeAt(n + 1);
              c3 = e.charCodeAt(n + 2);
              t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
              n += 3
            }
          }
          return t
        }
      }
      let username = <%-userName%>

        $(function () {

          // Initialize variables
          const $window = $(window);
          const $messages = $('.messages'); // Messages area
          const $inputMessage = $('#input-message'); // Input message input box
          const $usernameLabel = $('#user-name');
          const $userList = $('#user-list');
          const $roomList = $('#room-list');

          let connected = false;
          let socket = io();

          let modalShowing = false;

          $('#user-name').text(username)

          $('#addChannelModal').on('hidden.bs.modal', () => modalShowing = false)
            .on('show.bs.modal', () => modalShowing = true);


          ///////////////
          // User List //
          ///////////////

          let users = {};

          function updateUsers(p_users) {
            p_users.forEach(u => users[u.username] = u);
            updateUserList();
          }

          function updateUser(username, active) {
            if (!users[username])
              users[username] = {
                username: username
              };

            users[username].active = active;

            updateUserList();
          }

          function updateUserList() {
            const $uta = $("#usersToAdd");
            $uta.empty();

            $userList.empty();
            for (let [un, user] of Object.entries(users)) {
              if (username !== user.username)
                $userList.append(`
        <li onclick="setDirectRoom(this)" data-direct="${user.username}" class="${user.active ? "online" : "offline"}">${user.username}</li>
      `);
              // append it also to the add user list
              $uta.append(`
        <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" onclick="addToChannel('${user.username}')">${user.username}</button>
      `);
            };
          }

          ///////////////
          // Room List //
          ///////////////

          let rooms = new Map();

          function updateRooms(p_rooms) {
            p_rooms.map(r => {
              rooms.set(r._id, r)
            });
            updateRoomList();
          }

          function updateRoom(room) {
            rooms.set(room._id, room);
            updateRoomList();
          }

          function removeRoom(id) {
            rooms.delete(id);
            updateRoomList();
          }

          function updateRoomList() {
            $roomList.empty();
            rooms.forEach(r => {
              if (!r.direct)
                $roomList.append(`
        <li onclick="setRoom(\`${r._id}\`)"  data-room="${r._id}" class="${r.private ? "private" : "public"}">${r.name}</li>
      `);
            });
          }

          function updateChannels(channels) {
            const c = $("#channelJoins");

            c.empty();
            channels.forEach(r => {
              if (!rooms.has(r._id))
                c.append(`
        <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" onclick="joinChannel(\`${r._id}\`)">${r.name}</button>
      `);
            });
          }


          //////////////
          // Chatting //
          //////////////

          let currentRoom = false;

          function setRoom(id) {
            let oldRoom = currentRoom;

            const room = rooms.get(id);
            currentRoom = room;

            $messages.empty();
            room.messages.forEach(m => addChatMessage(m));

            $userList.find('li').removeClass("active");
            $roomList.find('li').removeClass("active");

            if (room.direct) {
              const idx = room.users.indexOf(username) == 0 ? 1 : 0;
              const user = room.users[idx];
              setDirectRoomHeader(user.username);

              $userList.find(`li[data-direct="${user}"]`)
                .addClass("active")
                .removeClass("unread")
                .attr('data-room', room.id);

            } else {
              $('#channel-name').text("#" + room.name);
              $('#channel-description').text(`👤 ${room.users.length} | ${room.description}`);
              $roomList.find(`li[data-room=${room.id}]`).addClass("active").removeClass("unread");
            }

            $('.roomAction').css('visibility', (room.direct || room.forceMembership) ? "hidden" : "visible");
          }
          window.setRoom = setRoom;

          function setDirectRoomHeader(user) {
            $('#channel-name').text(user);
            $('#channel-description').text(`Direct message with ${user}`);
          }

          function setToDirectRoom(user) {
            console.log(user)
            setDirectRoomHeader(user);
            socket.emit('request_direct_room', {
              to: user
            });
          }

          window.setDirectRoom = (el) => {
            const user = el.getAttribute("data-direct");
            const room = el.getAttribute("data-room");

            if (room) {
              setRoom(parseInt(room));
            } else {
              setToDirectRoom(user);
            }
          }

          function sendEncryptedMessage(users, messageText, username) {
            let encoder = new TextEncoder()
            let decoder = new TextDecoder('utf8');
            for (i = 0; i < users.length; i++){
              let user = users[i]
              if(currentRoom.e2e){
                importKey(user.publicKey).then((key) => {
                encrypt(encoder.encode(messageText), key, "RSA-OAEP").then((encryptedMSG) => {
                  let base64msg = btoa(new Uint8Array(encryptedMSG))
                  let msg = {
                to: user.username,
                username: username,
                message: base64msg, //btoa(new Uint8Array(encryptedMSG)),
                room: currentRoom._id
              }
              socket.emit('new message', msg);
                })
                
              })
            } else {
              let base64msg = btoa(messageText)
              let msg = {
                to: user.username,
                username: username,
                message: base64msg,
                room: currentRoom._id
              }
              socket.emit('new message', msg);
            }
            }
          }


          function sendMessage() {
            let message = $inputMessage.val();

            if (message && connected && currentRoom !== false) {
              $inputMessage.val('');

              sendEncryptedMessage(currentRoom.users, message, username);
      
            }
          }


          function addChatMessage(msg) {
            let decoder = new TextDecoder()
            let msgArray = new Uint8Array(atob(msg.message).split(','))
            if(rooms.get(msg.room).e2e){
            decrypt(msgArray, cryptoKeys.privateKey, "RSA-OAEP").then((msgText) => {
            let time = new Date(msg.time).toLocaleTimeString('en-US', {
              hour12: false,
              hour: "numeric",
              minute: "numeric"
            });
            $messages.append(`
    <div class="message">
      <div class="message-avatar"></div>
      <div class="message-textual">
        <span class="message-user">${msg.username}</span>
        <span class="message-time">${time}</span>
        <span class="message-content">${decoder.decode(msgText)}</span>
      </div>
    </div>
  `);

            $messages[0].scrollTop = $messages[0].scrollHeight;
          })
        } else {
          let time = new Date(msg.time).toLocaleTimeString('en-US', {
              hour12: false,
              hour: "numeric",
              minute: "numeric"
            });
            $messages.append(`
    <div class="message">
      <div class="message-avatar"></div>
      <div class="message-textual">
        <span class="message-user">${msg.username}</span>
        <span class="message-time">${time}</span>
        <span class="message-content">${atob(msg.message)}</span>
      </div>
    </div>
  `);

            $messages[0].scrollTop = $messages[0].scrollHeight;
        }
          }
          

          function messageNotify(msg) {
            if (msg.direct)
              $userList.find(`li[data-direct="${msg.username}"]`).addClass('unread');
            else
              $roomList.find(`li[data-room=${msg.room}]`).addClass("unread");
          }


          function addChannel() {
            const name = $("#inp-channel-name").val();
            const description = $("#inp-channel-description").val();
            const private = $('#inp-private').is(':checked');
            const e2e = $('#customSwitches').is(':checked');
            console.log(e2e)

            socket.emit('add_channel', {
              name: name,
              description: description,
              private: private,
              e2e: e2e
            });
          }
          window.addChannel = addChannel;


          function joinChannel(id) {
            socket.emit('join_channel', {
              id: id
            });
          }
          window.joinChannel = joinChannel;

          function addToChannel(user) {
            socket.emit('add_user_to_channel', {
              channel: currentRoom._id,
              user: user
            });
          }
          window.addToChannel = addToChannel;

          function leaveChannel() {
            socket.emit('leave_channel', {
              id: currentRoom._id
            });
          }
          window.leaveChannel = leaveChannel;

          /////////////////////
          // Keyboard events //
          /////////////////////

          $window.keydown(event => {
            if (modalShowing)
              return;

            // Auto-focus the current input when a key is typed
            if (!(event.ctrlKey || event.metaKey || event.altKey)) {
              $inputMessage.focus();
            }

            // When the client hits ENTER on their keyboard
            if (event.which === 13) {
              sendMessage();
            }

            // don't add newlines
            if (event.which === 13 || event.which === 10) {
              event.preventDefault();
            }
          });



          ///////////////////
          // server events //
          ///////////////////

          function ab2str(buf) {
            return String.fromCharCode.apply(null, new Uint8Array(buf));
          }

          function str2ab(str) {
            const buf = new ArrayBuffer(str.length);
            const bufView = new Uint8Array(buf);
            for (let i = 0, strLen = str.length; i < strLen; i++) { 
             bufView[i]=str.charCodeAt(i); 
            } 
            return buf; 
          }

          // Whenever the server emits 'login', log the login message
          socket.on('login', async (data) => {
            connected = true;
            var passphrase = prompt('private key password')
            while (passphrase == "") {
              passphrase = prompt("Your passphrase can't be empty, please re-enter");
            }
            var iv = window.crypto.getRandomValues(new Uint8Array(16))
            if(data.userKeys.private){
              // already logged in once
              iv = str2ab(atob(data.userKeys.private.iv))
              cryptoKeys.privateKey = await importPrivateKey(
                await decrypt(str2ab(atob(data.userKeys.private.key)), await derivekey(passphrase),"AES-CBC", iv)
                ,'pkcs8'
              )
              cryptoKeys.publicKey = await importKey(data.userKeys.public)
            } else {
              //first time logging in
                cryptoKeys = await makeKeys()
                pubKey = await exportKey(cryptoKeys.publicKey)
                
                exportedPrivate = await exportKey(cryptoKeys.privateKey, 'pkcs8')
                prvKey = btoa(ab2str(await encrypt(exportedPrivate, await derivekey(passphrase),"AES-CBC", iv)))
                socket.emit('publicKey', {username: username, pub: pubKey})
                socket.emit('privateKey', {username: username, prv: {key: prvKey, iv: btoa(ab2str(iv))}})
             // });
            }
              updateUsers(data.users);
                updateRooms(data.rooms);
                updateChannels(data.publicChannels);

                if (data.rooms.length > 0) {
                  setRoom(data.rooms[0]._id);
                }
          
          });

          socket.on('update_public_channels', (data) => {
            updateChannels(data.publicChannels);
          });

          // Whenever the server emits 'new message', update the chat body
          socket.on('new message', (msg) => {
            const roomId = msg.room;
            const room = rooms.get(roomId);
            if(msg.receiver == username){
            if (room) {
              room.messages.push(msg);
              console.log(room.messages)
            }

            if (roomId == currentRoom._id)
              addChatMessage(msg);
            else
              messageNotify(msg);
          } else {
            console.log('MSG NOT FOR ME')
            console.log(msg.receiver)
          }
        });

          socket.on('update_user', data => {
            const room = rooms.get(data.room);
            if (room) {
              room.users = data.users;

              if (room === currentRoom)
                setRoom(data.room);
            }
          });

          socket.on('user_state_change', (data) => {
            updateUser(data.username, data.active);
          });

          socket.on('update_room', data => {
            updateRoom(data.room);
            if (data.moveto)
              setRoom(data.room._id);
          });

          socket.on('room_error', data => {
            console.log(data)
          })

          socket.on('remove_room', data => {
            removeRoom(data.room);
            if (currentRoom._id == data.room)
              setRoom(rooms.keys().next().value);
          });

          ////////////////
          // Connection //
          ////////////////

          socket.on('connect', () => {
            socket.emit('join', username)
          });

          socket.on('disconnect', () => {});

          socket.on('reconnect', () => {
            socket.emit('join', username);
          });

          socket.on('reconnect_error', () => {});

        });
    </script>