<div class="login-form">
    <form action="/login" method="POST">
        <h2 class="text-center">Log in</h2>
        <% if(messages.error) {%>
            <h2 class="text-center" id='error'><%= messages.error %></h1>
        <% } %>               
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="username" name="username" class="form-control" required="required">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name='password' class="form-control" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </form>
    <p class="text-center"><a href="/register">Create an Account</a></p>
</div>

<style>
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {    
        background: #3F0E40;
        border-color: #3F0E40;    
        font-size: 15px;
        font-weight: bold;
    }
    #error {
        color: red
    }
</style>